# Laravel (Web)
/web/vendor/
/web/node_modules/
/web/public/build/
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/storage/logs/
/web/storage/framework/cache/
/web/storage/framework/sessions/
/web/storage/framework/views/
/web/bootstrap/cache/
/web/.env
/web/.env.backup
/web/.env.production
/web/.phpunit.result.cache

# Flutter (Mobile)
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.pub-cache/
/mobile/.pub/
/mobile/build/
/mobile/android/local.properties
/mobile/android/key.properties
/mobile/ios/.generated/
/mobile/ios/Flutter/App.framework
/mobile/ios/Flutter/Flutter.framework
/mobile/ios/Flutter/Flutter.podspec
/mobile/ios/Flutter/Generated.xcconfig
/mobile/ios/Flutter/app.flx
/mobile/ios/Flutter/app.zip
/mobile/ios/Flutter/flutter_assets/
/mobile/ios/Flutter/flutter_export_environment.sh
/mobile/ios/Pods/
/mobile/ios/.symlinks/
/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
/mobile/macos/Flutter/ephemeral/
/mobile/linux/flutter/ephemeral/
/mobile/windows/flutter/ephemeral/
/mobile/*.g.dart

# General/Environment
.env
*.key
.DS_Store
.idea/
.vscode/
*.swp
*.swo
docker-compose.override.yml
